@model Hotspot.Models.CatalogTicket.CatalogTicketItemListViewModel


<h2>Criação de lote por Catálogo</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group w-25">
                    <label asp-for="Comission" class="control-label">Comissão (0-100)</label>
                    <input asp-for="Comission" maxlength="3" class="form-control" value="20"/>
                    <span asp-validation-for="Comission" class="text-danger"></span>
                </div>
                <div class="form-group w-25">
                    <label asp-for="PaymentMethod" class="control-label">Forma de Pagamento</label>
                    <select asp-for="PaymentMethod" id="select-type" class="form-control" onchange="changePercent(event)">
                        <option data-per="30" value="A VISTA">A Vista</option>
                    </select>
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="SellerId" class="control-label">VENDEDOR</label>
                    <input asp-for="SellerId" class="form-control" />
                    <span asp-validation-for="SellerId" class="text-danger"></span>
                </div>

                <div class="row w-100">
                    @for (int i = 0; i < Model.ItemsList.Count; i++)
                    {
                    <div class="card mr-2 mb-2" style="width: 20rem; height: 10rem; border-color: @Model.ItemsList[i].Color">
                        <div class="card-body">
                            <h5 class="card-title">@Model.ItemsList[i].Bandwidth Mega(s) - R$ @Model.ItemsList[i].Value</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Model.ItemsList[i].Description</h6>
                            <div class="row" hidden>
                                <label asp-for="ItemsList[i].Id" class="control-label">ID</label>
                                <input asp-for="ItemsList[i].Id" class="form-control" />
                                <span asp-validation-for="ItemsList[i].Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ItemsList[i].Quantity" class="control-label">Quantidade:</label>
                                <input asp-for="ItemsList[i].Quantity" class="form-control" />
                                <span asp-validation-for="ItemsList[i].Quantity" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <div class="form-group">
                    <input type="submit" onclick="this.form.submit();this.disabled = true;" value="Criar" class="btn btn-success" />
                    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>